<div class="jumbotron">
<h1><i class="fa fa-cloud"></i>
Threadlike</h1>
<p>This is my regular to|do-list workspace</p>
<%= link_to "And this is me", "http://www.vk.com/wushvuzulle", class: "btn btn-primary btn-lg" %>
</div>

